{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        {{ with .Content }}
        <div class="text-center">
          {{.}}
        </div>
        {{ end }}
        <div class="posts-list">
          {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
          {{ range $pag.Pages }}
          <article>
            <div class="card my-4">
              {{ with .Params.image }}
              <img src="{{.}}" class="card-image-top" />
              {{ end }}
              <div class="card-body">
                <a href="{{ .Permalink }}">
                  <h4 class="card-title">{{ .Title }}</h4>
                  {{ with .Params.subtitle }}
                  <h6 class="card-subtitle mb-2 text-muted">{{.}}</h6>
                  {{ end }}
                </a>
                <p class="card-text">
                <small class="text-muted">
                  {{ partial "post_meta.html" . }}
                </small>
                </p>
                {{ if .Truncated }}
                <p class="card-text">{{ .Summary }}</p>
                <a href="{{ .Permalink }}" class="btn btn-primary">{{ i18n "readMore" }}</a>
                {{ else }}
                <p class="card-text">{{ .Content }}</p>
                {{ end }}
              </div>
              {{ if .Params.tags }}
              <div class="blog-tags text-muted card-footer">
                <i class="fa fa-tags" aria-hidden="true"></i>
                {{ range .Params.tags }}
                <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
                {{ end }}
              </div>
              {{ end }}
            </div>
          </article>
          {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Paginator.Prev.URL | absURL }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Paginator.Next.URL | absURL }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
